/*时间设置组件*/

.timeSelect {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}





.timeSelect>section:first-child {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.timeselect {
  min-height: 18.0rem;
  width: 100%;
  position: fixed;
  bottom: -18.5rem;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  animation: popUp .2s linear;
  -webkit-animation: popUp .2s linear;
  -moz-animation: popUp .2s linear;
  -o-animation: popUp .2s linear;
}

@keyframes popUp {
  0% {
    bottom: -20rem;
  }

  30% {
    bottom: -16.1rem;
  }

  50% {
    bottom: -11.5rem;
  }

  80% {
    bottom: -4.6rem;
  }

  100% {
    bottom: 0;
  }
}

@-webkit-keyframes popUp {
  0% {
    bottom: -20rem;
  }

  30% {
    bottom: -16.1rem;
  }

  50% {
    bottom: -11.5rem;
  }

  80% {
    bottom: -4.6rem;
  }

  100% {
    bottom: 0;
  }
}

.timeselect>.selectTip {
  height: 2.8rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: #f9f4f3;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

.timeselect>.selectTip>.tipWord {
  /*margin-left:1.25rem;*/
  font-size: 14px;
  color: #666666;
}

.timeselect>.time {
  height: 14.125rem;
  position: relative;
  overflow: hidden !important;
}

.timeselect>.time>section.hour,
.timeselect>.time>section.minute {
  display: inline-block;
  height: 100%;
  z-index: 5;
  opacity: 0;
  position: absolute;
}

.timeselect>.time>section.hour {
  left: 0%;
}

.timeselect>.time>section.minute {
  left: 50%;
}

.timeselect>.time>.timetext {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height: 2.833333rem;
  height: 2.833333rem;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  box-sizing: border-box;
}

.timeselect>.time>.timetext>.hour {
  position: absolute;
  left: 33%;
  color: #666666;
  font-size: 14px;
}

.timeselect>.time>.timetext>.minute {
  position: absolute;
  left: 66%;
  color: #000;
  font-size: 16px;
}

.timeselect>.time>.timetext>.status {
  position: absolute;
  right: 10%;
  color: #666666;
  font-size: 14px;
}

.timeselect>.time>.hourvalue,
.timeselect>.time>.minutevalue {
  width: 1.67rem;
  font-size: 16px;
  color: #323232;
  position: absolute;
  z-index: 4;
  text-align: center;
  margin-top: -2.73rem;
}

.timeselect>.time>.hourvalue {
  left: 25%;
}

.timeselect>.time>.minutevalue {
  left: 56%;
}

.timeselect>.time>.hourvalue>span,
.timeselect>.time>.minutevalue>span {
  line-height: 2.73rem;
  height: 2.73rem;
  display: block;
}

.timeselect>.time>.hourvalue>.line1,
.timeselect>.time>.minutevalue>.line1 {
  opacity: 0.2;
  font-size: 14px;
}

.timeselect>.time>.hourvalue>.line2,
.timeselect>.time>.minutevalue>.line2 {
  opacity: 0.5;
  font-size: 15px;
}

.timeselect>.time>.hourvalue>.line3,
.timeselect>.time>.minutevalue>.line3 {
  line-height: 3.18rem;
  height: 3.18rem;
}

.timeselect>.time>.hourvalue>.line4,
.timeselect>.time>.minutevalue>.line4 {
  opacity: 0;
}

.timeselect>.selectbtn {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 3.875rem;
  line-height: 3.875rem;
  font-size: 18px;
  color: #353535;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}

.timeselect>.selectbtn>span:first-child {
  padding-left: 1.333333rem;
}

.timeselect>.selectbtn>span:last-child {
  padding-right: 1.333333rem;
}

/*.timeselect>.selectbtn>span:nth-child(1){
    border-right:1px solid #cccccc;
}*/