/*弹出层*/

.fade_c_section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 999;
}

.fade_c {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.succ-pop {
  width: 80%;
  height: 25%;
  background: #fff;
  position: fixed;
  left: 10%;
  top: 35%;
  z-index: 999;
  border-radius: 5px;
}

.succ-pop p.title {
  text-align: center;
  font-size: 1.8rem;
  height: 20%;
  color: #222222;
  margin-top: 1rem;
}

.pop_div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.pop_div .pop_content {
  color: grey;
  padding: 2rem;
  text-align: left;
  font-size: 1.4rem;
}

.conformd {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.4rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: #666666;
  text-align: center;
}

.conformd p:nth-child(1) {
  width: 50%;
  padding-top: 1rem;
  text-align: center;
  border-top: solid rgba(230,230,230,0.2) 1px;
  border-right: solid rgba(230,230,230,0.2) 1px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
}

.conformd p:nth-child(2) {
  width: 50%;
  padding-top: 1rem;
  text-align: center;
  border-top: solid rgba(230,230,230,0.2) 1px;
  border-bottom-righr-radius: 5px;
  box-sizing: border-box;
  color: #3285ff;
}

.conformd p:nth-child(2):active {
  color: rgb(76,145,252);
  background-color: rgba(0,0,0,0.2);
  border-bottom-righr-radius: 5px;
}

.conformd p:nth-child(1):active {
  color: rgb(76,145,252);
  background-color: rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
}

.pop_content ol {
  list-style-type: decimal;
  list-style-position: inside;
}