@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(../../../common/static/mediaQuery.css);
@import url(../../../common/src/lib/slided-calendar.css);
@import url(./result-table.css);

html,body,#ROOT,.viewing-area{
    height:100%;
}
body{
    background-color:#eee;
    font-size:14px;
    color:#303030;
}
a{
    color:#303030;
}
.ta-r{
    text-align:right;
}
.ta-l{
    text-align:left;
}
.ta-c{
    text-align:center;
}
.condition{
    padding:15px 15px 10px;
    line-height:2rem;
    background-color:#fff;
    box-sizing:border-box;
    border-bottom:1px solid #eee;
}
.condition table{
    width:100%;
}
.condition table td{
    padding:3px 0;
    font-size:14px;
    color:#5e5e5e;
}
.condition table td.title,.condition>table td.rs{
    white-space: nowrap;
    width:1%;
}
.condition table td.diag{
    text-indent:0.8rem;
}
.condition table td.rs>b{
    font-size:24px;
}
.condition table td.rs.red{
    color:#ff5f5f;
}
.condition table td.rs.blu{
    color:#3cc6d1;
}
.condition .date{
    display:inline-block;
    line-height:2rem;
    border:1px solid #919191;
    border-radius:5px;
    width:100%;
    margin:0 2.5%;
    text-align:center;
    box-sizing:border-box;
    background:url(../img/ico2.png) no-repeat 9% center;
    background-size:6%;
    color:#303030;
}

#history-wrap{
    width:100%;
    height:100%;
    overflow:auto;
}