@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(../../../common/static/mediaQuery.css);
@import url(./result-table.css);
@import url(./footer-buttons.css);
@import url(./help.css);

body{
    background-color:#eee;
    padding-top:244px;
    padding-bottom:58px;
}
header{
    position:fixed;
    top:0;
    width:100%;
    height:180px;
    padding-top:64px;
    background:url(../img/bg.jpg) no-repeat 0 0;
    background-size:100% auto;
    z-index:99;
}
header>figure{
    position:absolute;
    left:15px;
    right:15px;
    bottom:10px;
    clear:both;
    color:#fff;
    line-height:1.2;
    font-size:14px;
}
header>figure>.avatar{
    float:left;
    width:4.1rem;
    height:4.1rem;
    border:3px solid #b1d7dd;
    border-radius:50%;
    overflow:hidden;
}
header>figure>h2{
    text-indent:2rem;
    margin-bottom:5px;
    font-size:12px;
}
header>figure dl{
    font-weight:bold;
}
header>figure dt{
    font-size:12px;
}
header>figure>.avatar>img{
    max-width:4.1rem;
    max-height:4.1rem;
}
header>figure i{
    padding:3px 10px;
    line-height:1;
    margin-left:10px;
    background-color:#ff5f5f;
    border-radius:5px;
}
header>figure dl{
    text-align:center;
}
header>figure .vline2{
    width:0;
    height:2rem;
    margin-top:0.5rem;
    border-left:1px solid #fff;
}
header>figure p.s{
    margin-top:5px;
    font-size:16px;
}
header>figure .bg-normal{
    background-color:#47de80;
}
header>figure .bg-high{
    background-color:#ff5f5f;
}
header>figure .bg-low{
    background-color:#fbad49;
}
header>figure .num{
    font-size:27px;
}
header>figure .time{
    font-size:12px;
}

.ta-c{text-align: center;}
.ta-r{text-align: right;}

.reference{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:70px 15px 0;
    background-color:#fff;
    line-height:1.8;
    color:#5e5e5e;
    font-size:14px;
}
.reference>table{
    width:100%;
    text-align:center;
    color:#303030;
}
.reference>table td,.reference>table th{
    border:1px solid #ababab;
    line-height:3;
}
.reference>table th{
    background-color: #e2e2e2;
}