html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

a,
input {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  border: 1px solid #dedede;
}

input[type="button"] {
  background: none;
  border: none;
  text-align: center;
}

.flex-cell {
  display: block;
  /* OLD */
  width: 100%;
  /* OLD */
}

.flex,
.flex-column {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex {
  -webkit-box-orient: horizontal;
  /* OLD */
  /* OLD */
  -ms-box-orient: horizontal;
  /* OLD */
  -webkit-flex-flow: row;
  flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  /* OLD */
  /* OLD */
  -ms-box-orient: vertical;
  /* OLD */
  -webkit-flex-flow: column;
  flex-flow: column;
}

.flex-cell {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* settingbtn */

/*保存设置按钮组件*/

.settingbtn-on {
  background-color: #fafafa;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
  color: #f45a4f;
}

.settingbtn-on>em,
.settingbtn-active>em {
  font-size: 17px;
}

.settingbtn-off {
  background-color: #fafafa;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
}

.settingbtn-off>em {
  font-size: 17px;
  color: #f45a4f;
  opacity: 0.4;
}

.settingbtn-active {
  background-color: #f45a4f;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
  color: #ffffff;
}

/*公共media query查询 1rem初始设置为12px
dpr为2时对应750的效果图 dpr为3时对应1080的效果图
查询区间间隔暂时设置为30px 对应3倍图时 1rem大小变化1px
对于dpr为2的有额外百分之4.2增大的兼容*/

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 321px) and (max-width:350px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 71.62%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 68.75%;
    }
}
}

@media screen and (min-width: 351px) and (max-width:380px) {
  html,
  body {
    font-size: 75%;
  }
}

@media screen and (min-width: 381px) and (max-width:410px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 84.64%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 81.25%;
    }
}
}

@media screen and (min-width: 411px) and (max-width:440px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 91.15%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 87.5%;
    }
}
}

@media screen and (min-width: 441px) and (max-width:470px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 97.66%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 93.75%;
    }
}
}

@media screen and (min-width: 471px) and (max-width:500px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 104.17%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 100%;
    }
}
}

@media screen and (min-width: 501px) and (max-width:539px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 110.68%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 106.25%;
    }
}
}

@media screen and (min-width: 540px) {
  html,
  body {
    font-size: 150%;
  }
}

/*文章详情页样式*/

.app-body header {
  color: #333333;
  padding: 2.25rem 1.33rem 0.92rem;
  border-bottom: 1px solid rgb(236,236,236);
  line-height: 31px;
  font-weight: bold;
  word-wrap: break-word;
  overflow-x: hidden;
  display: block;
}

.app-body header h1 {
  font-size: 21px;
  line-height: 36px;
}

.app-body section.labelNav,
.app-body section.articleDate {
  margin: 0 0 0 1.33rem;
}

.headerCon {
  padding-top: 1rem;
}

.spanLeft {
  display: block;
  float: left;
  font-size: 16px;
  color: rgb(140,140,140);
  font-weight: normal;
  line-height: 24px;
}

.spanRight {
  display: inline-block;
  float: right;
  font-size: 16px;
  color: rgb(140,140,140);
  line-height: 20px;
  font-weight: normal;
}

.spanRight label {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
}

.spanRight i {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.spanRight .i1 {
  margin-left: 20px;
  background: url('../../static/img/icon_look.png') no-repeat;
  background-size: 100% 100%;
}

.spanRight .i2 {
  background: url('../../static/img/icon_save.png') no-repeat;
  background-size: 100% 100%;
}

.app-body section.labelNav label.labelName {
  display: inline-block;
  line-height: 2.08rem;
  height: 2.08rem;
  margin-right: 0.91rem;
  /* 	border-radius:25px;
	border:1px solid #c5c5c5; */
  color: #ff8077;
  font-size: 13px;
  padding: 0 12.5px;
  box-sizing: border-box;
  margin-bottom: 1.33rem;
  position: relative;
  border: none;
}

.app-body section.labelNav label.labelName:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.app-body section.articleDate {
  font-size: 12px;
  color: #999999;
  height: 12px;
  line-height: 12px;
}

.app-body section.articleContent {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  margin: 1.1rem 1.33rem;
  text-align: justify;
  word-wrap: break-word;
  overflow-x: hidden;
}

/* .app-body section.articleContent img{
    display:inline-block;
    width:100%;
    height:100%;
}
 */

/*方案详情-详情页样式*/

.app-detail>header {
  margin: 1rem 1.33rem;
  color: #666666;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}

.app-detail>div.backgroundGap {
  width: 100%;
  height: 1rem;
  background-color: #f9f4f3;
}

.app-detail>section.details {
  margin: 1rem 1.33rem;
  font-size: 15px;
  line-height: 24px;
  color: #666666;
  text-align: justify;
  overflow: hidden;
}

.app-detail>section.details img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/*了解c-life页样式*/

.app-understand {
  width: 100%;
  overflow: hidden;
}

.app-understand .s {
  position: relative;
  width: 100%;
  height: 21.95rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

@media all and ( orientation:landscape) {
  .s {
    background-size: auto 100%;
  }
}

@media all and ( min-width:768px) {
  .s {
    background-size: auto 100%;
  }
}

.app-understand .s h2,
.app-understand .s p {
  width: 100%;
  line-height: 1;
}

.app-understand .s-1 {
  background-image: url('../img/bg0.png');
  background-size: 100% 100%;
}

.app-understand .s-1 .tv {
  position: relative;
  top: 1.45rem;
  width: 28.79rem;
  height: 16.02rem;
  margin-left: 1.13rem;
  background: #000;
}

.app-understand .s-1 .tv .play {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: #5d5d5d;
}

.app-understand .s-1 .tv .play:before {
  content: '';
  display: block;
  z-index: 300;
  width: 61px;
  height: 100%;
  margin: 0 auto;
}

.app-understand .s-1 .tv .play:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../img/bg-cover.png') no-repeat 50% 50%;
  background-size: cover;
}

.app-understand .s-1 .tv .video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000!important;
  vertical-align: top;
  border: 0;
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app-understand .s-2 {
    height: 17.38rem;
    background-image: url('../img/bg1.png');
  }

  .app-understand .s-3 {
    height: 17.38rem;
    background-image: url('../img/bg2.png');
  }

  .app-understand .s-4 {
    height: 17.38rem;
    background-image: url('../img/bg3.png');
  }

  .app-understand .s-5 {
    height: 17.38rem;
    background-image: url('../img/bg4.png');
  }

  .app-understand .s-6 {
    height: 17.38rem;
    background-image: url('../img/bg5.png');
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app-understand .s-2 {
    height: 16.67rem;
    background-image: url('../img/bg6.png');
  }

  .app-understand .s-3 {
    height: 16.67rem;
    background-image: url('../img/bg7.png');
  }

  .app-understand .s-4 {
    height: 16.67rem;
    background-image: url('../img/bg8.png');
  }

  .app-understand .s-5 {
    height: 16.67rem;
    background-image: url('../img/bg9.png');
  }

  .app-understand .s-6 {
    height: 16.67rem;
    background-image: url('../img/bg10.png');
  }
}

/*分享出去提示下载*/

.download {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.2rem;
  box-sizing: border-box;
  color: #fff;
  z-index: 10;
  padding: 0 16px;
  /*background: rgba(21,22,33,.8);*/
}

.download:after {
  content: '';
  opacity: 0.8;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #151621;
}

.download-left {
  float: left;
  height: 5.2rem;
  line-height: 5.2rem;
  overflow: hidden;
}

.download-left i {
  float: left;
  width: 2.5rem;
  height: 5.2rem;
  background: url(../img/icon-index.png) no-repeat center left;
  background-size: 100% auto;
  margin-right: 0.6rem;
}

.download-left span {
  float: left;
  font-size: 16px;
  line-height: 5.24rem;
  vertical-align: middle;
}

.download-right {
  float: right;
  height: 5.2rem;
  font-size: 15px;
  text-align: right;
  line-height: 5.2rem;
  vertical-align: top;
}

.download-right span {
  height: 1.8333rem;
  padding: 5px;
  margin-right: 0.8rem;
  font-size: 14px;
  border-radius: 5px;
  background-color: #F5B232;
}

.download-right i {
  display: block;
  float: right;
  width: 1.8333rem;
  height: 5.2rem;
  line-height: 5.2rem;
  background: url(../img/closed-index.png) no-repeat center right;
  background-size: 100% auto;
}

.hide {
  display: none;
}