/* toast */

.toast {
  position: absolute;
  z-index: 9000;
  width: 100%;
  color: #eee;
  opacity: 0;
}

.toast>div {
  padding: 5px 10px;
  background-color: rgba(0,0,0,.2);
  word-wrap: break-word;
}

.toast>div.span {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.8);
  border: 1px solid rgba(140,140,140,.3);
  border-radius: 7px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.8);
  text-align: center;
}

.toast>div.block {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*.toast{
    -webkit-animation:toastN 4s;
    -moz-animation:toastN 4s;
    -o-animation:toastN 4s;
    animation:toastN 4s;
    opacity:0;
}
.toast.slideD{
    -webkit-animation:toastD 4s;
    -moz-animation:toastD 4s;
    -o-animation:toastD 4s;
    animation:toastD 4s;
    opacity:0;
}
.toast.slideU{
    -webkit-animation:toastU 4s;
    -moz-animation:toastU 4s;
    -o-animation:toastU 4s;
    animation:toastU 4s;
    opacity:0;
}
*/

/* 淡入淡出 */

@-webkit-keyframes toastN {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes toastN {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 从上往下滑出 */

@-webkit-keyframes toastD {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }

  25% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes toastD {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

/* 从下往上滑出 */

@-webkit-keyframes toastU {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }

  25% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes toastU {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}