@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(./TimeSelect.css);
/* @import url(../../../common/static/mediaQuery.css); */

/* 状态区 */
.status-area{background:linear-gradient(to right top,#43E3FE,#3588FE);color:#fff;height:390px;padding-top: 0.833333rem;}
.statusline{display:inline-block;margin-left: 29px;line-height: 21px;}
.statusline>li{float:left;font-size: 15px;}
.statusline>li:nth-child(2){margin-left:21px;}
.statusline>li:last-child{margin-left:11px;}
.locate{width:1rem;height:1rem;    vertical-align: -3px;}

.circleInfo{width:240px;height:240px;margin:5px auto;background:url('../img/bg-circle.png')no-repeat;background-size: 100% 100%;text-align:center;position:relative;}
.circleInfo>ul{padding-top:48px;}
.circleInfo>ul>li:first-child{font-size: 12px;}
.circleInfo>ul>li:nth-child(2){font-size: 65px;}
.circleInfo>ul>li:nth-child(n+3){font-size: 15px;margin-top: 12px;}
.circleInfo .dot,.circleInfo .bg-dots{position:absolute;width:100%;top:0;left:0;-webkit-animation:circle 8s infinite linear;/*匀速 循环*/}
.circleInfo .bg-dots{-webkit-animation:move 5s infinite linear;/*匀速 循环*/}
@-webkit-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(-360deg); }
}
@-webkit-keyframes move{
	0%{ transform:scale(1.05,1.05);}
	50%{ transform:scale(0.5,0.5); }
	100%{ transform:scale(1,1); }
}
.startup{position:absolute;right:18px;font-size: 14px;text-align: center;top: 310px;}
.startup>dd>img{width:44px;height:44px;}



 /* 标题 */
.header{font-size: 16px;height: 3.333333rem;line-height: 3.333333rem;padding:0.833333rem;color:#fff;}
.header .goback{float:left;height:23px;width:23px;background:url('../img/ic-goback.png') no-repeat center;background-size: 100%;margin-top: 14px;}
.header .title{width: 100%;  text-align: center;  position: absolute;left:0;}

/*模式选择组件样式*/
.modes,.speed{display: flex;text-align: center;border-bottom:1px solid rgba(212,214,217,0.8);color:#5a616a;font-size: 15px;}
.modes>dl{padding:1.416667rem 0.9rem 1.0rem; color:#59616C;}
.modes>dl:not(:last-child){border-right: 1px solid #DCDCDC;}
.modes>dl.on,.speed>dl.on{color:#4FB8FB;}
.modes>dl>dd>img{width:70%;}
.modes>dl>dt{margin:0.51rem auto 0.45rem;font-size: 14px; letter-spacing: 0.1rem;}
.modes>dl>dd:last-child{font-size: 9px;color:#59616C !important;}
/*风速选择组件样式*/
.speed>span{margin: 1.7rem 1.25rem;}
.speed>dl{padding:1rem 0.2rem;}
.speed>dl:last-child{margin-right:1.083333rem;}
.speed>dl>dd>img{width:80%;}

.filter{padding:0.75rem 1.5rem;position:relative;}
.filter>dl>dt{font-size: 15px;color:#58626c;}
.filter>dl>dd{font-size: 12px;color:#999;margin-top: 0.666667rem;}
.filter .percent{position:absolute;right:1.166667rem;top:1.25rem; color:#fea93d;font-size: 31px;font-family:Verdana,"华文细黑";}
.filter .percent b{font-size: 19px;}



/*首页按钮*/
.btnlist-body{
    background:#FFF;
    opacity: 1;
    animation:fade 1s;
    height:6.666667rem;
}
.btnlist{
    /* width: 100%; */
    padding:0 1rem;
}

.btn-title{
    font-size:13px;
    color:#A9A9A9;
    text-align: center;
    margin-bottom: 1.5rem;
}


.btnlist article{
    text-align: center;
    color:#848484;
    font-size:14.5px;
}

.btnlist article img{
    width:48px;
    height:48px;
}

.btnlist article p{ 
    font-size:14.5px;
    margin-top: 0.5rem;
}

@keyframes fade{
    0%{
        opacity:0.3;
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes fade{
    0%{
        opacity:0.3;
    }
    100%{
        opacity:1;
    }
}