.title {
  margin: 20px 0;
}

.title .left {
  margin-left: 10%;
}

.title .right-col1 {
  margin-left: 35%;
}

.title .right-col2 {
  margin-left: 20px;
}

@media (min-width: 860px) and (max-width: 1080px) {
  .title .right-col1 {
    margin-left: 40%;
  }
}

@media (min-width: 1080px) and (max-width: 1280px) {
  .title .right-col1 {
    margin-left: 45%;
  }
}

@media (min-width: 1280px) {
  .title .right-col1 {
    margin-left: 55%;
  }
}

.remark-area {
  width: 525px;
  margin: 120px auto 0;
  background: #ffffff;
  padding-top: 30px;
}

.remark-area > .remark {
  border-bottom: 1px solid #e2e2e4;
}

.remark-area > .remark > .item {
  width: 100%;
  padding-bottom: 20px;
}

.remark-area > .remark > .item label {
  width: 102px;
  text-align: right;
  display: inline-block;
  margin-right: 23px;
}

.remark-area > .remark > .item:nth-child(2) label {
  vertical-align: top;
}

.remark-area > .remark > .item #title {
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  width: 345px;
  height: 37px;
  line-height: 37px;
}

.remark-area > .remark > .item #title:focus {
  outline: 1px solid #A2C4FB;
}

.remark-area > .remark > .item #remark {
  margin-left: -1px;
  width: 345px;
  min-height: 250px;
  padding: 0;
  font-size: 1.2rem;
  padding: 5px 0;
}

.remark-area > .btn-grp {
  width: 242px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.remark-area > .btn-grp > button {
  width: 106px;
  height: 37px;
  line-height: 37px;
  border: 1px solid #ebebec;
  background-color: #ffffff;
  border-radius: 5px;
}

.remark-area > .btn-grp > button:hover {
  color: #ffffff;
  background-color: #3a7ff6;
}

.remark-area > .btn-grp button + button {
  margin-left: 30px;
}