.ft-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.ft-buttons>a {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  line-height: 48px;
  background-color: #3cc6d1;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.ft-buttons>a:active {
  background-color: #26b5c0;
}

.ft-buttons>.vline {
  display: inline-block;
  width: 0;
  height: 30px;
  outline: 1px solid #fff;
  margin-top: 9px;
}