@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(../../../common/static/mediaQuery.css);
/*@import url(../../../common/src/ArcSliding.css);*/

.m-top{
    width: 100%;
    height: 8.0rem;
} 
.m-top>.statistics{
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #C4C4C4;
    letter-spacing: 1px;
}
.statistics>p{
    height: 2.5rem;
    line-height: 2.5rem;
    padding-top: 1.75rem;
}
.statistics>p>strong{
    font-weight: bold;
    font-size: 19px;
    color: #656565;
}
.statistics>h3{
    height: 1.75rem;
    line-height: 1.75rem;
}

.m-chart{
    width: 100%;
    height: 17.416667rem;
}
.m-chart>.mychart{
    width: 100%;
    height: 100%;
}
.color-block{
    width: 100%;
    height: 1.0rem;
    background: #F8F3F2;
}

.m-course{
    position: relative;
    width: 100%;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
}
.m-course>h2{
    position: relative;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.333333rem;
    color: #353535;
}
.m-course>h2:before{
    content: '';
    position: absolute;
    left: -1.666667rem;
    top: 0;
    height: 1.5rem;
    width: 0.916667rem;
    background: url(../../static/img/left.png) no-repeat;
    background-size: 100% 100%;
}
.m-course>h2:after{
    content: '';
    position: absolute;
    right: -1.666667rem;
    top: 0;
    height: 1.5rem;
    width: 0.916667rem;
    background: url(../../static/img/right.png) no-repeat;
    background-size: 100% 100%;
}
.m-course>a{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 4.26%;
    width: 2.083333rem;
    height: 2.083333rem;
    z-index: 100;
    background: url(../../static/img/addbtn.png) no-repeat;
    background-size: 100% 100%;
}

.mycourse-list,.fitme-list,.common-list{
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.course-item{
    position: relative;
    width: 97.33%;
    height: 15.083333rem;
    border-radius: 0.416667rem;
    margin-top: 0.416667rem;
    overflow: hidden;
}
.course-item.first{
    margin-top: 0;
} 
.course-item.last{
    margin-bottom: 1.0rem;
}
.course-item img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border: 0;
}
.course-item>.item-tip{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.583333rem;
    height: 2.083333rem;
    align-items: center;
}
.course-item>.item-tip.finished{
    background: url(../../static/img/finished.png) no-repeat;
    background-size: 100% 100%;
}
.course-item>.item-tip.unfinished{
    background: url(../../static/img/unfinished.png) no-repeat;
    background-size: 100% 100%;
}
.item-tip>span{
    padding-left: 1.083333rem;
    color: #fff;
    font-size: 1.0rem;
}
.course-item>.item-con{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}
.item-con>h1{
    width: 100%;
    height: 3.166667rem;
    line-height: 3.166667rem;
    padding-top: 4.666667rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 2.333333rem;
}
.item-con>.item-word{
    height: 2.5rem;
    align-items: center;
}
.item-word>em{
    display: block;
    border: 0;
}
.item-word>em.cal{
    width: 1.583333rem;
    height: 1.458333rem;
    background: url(../../static/img/cal.png) no-repeat;
    background-size: 100% 100%;
}
.item-word>em.clock{
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../static/img/clock.png) no-repeat;
    background-size: 100% 100%;
}
.item-word>span{
    display: inline-block;
    padding-left: 0.75rem;
    font-size: 1.166667rem;
    color: #fff;
    padding-top: 1%;
}

/* 我的课程无数据时 */
.nodata{
    width: 97.33%;
    height: 8.916667rem;
    margin-bottom: 1.0rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.416667rem;
    background: -webkit-linear-gradient(left,#FEBC72, #FF8BB2);
    background: -o-linear-gradient(left,#FEBC72, #FF8BB2); 
    background: -moz-linear-gradient(left,#FEBC72, #FF8BB2);
    background: linear-gradient(left,#febc72, #ff8bb2); 
    overflow: hidden; 
}
.nodata>a{
    display: block;
    width: 3.916667rem;
    height: 3.916667rem;
    margin-top: 1.583333rem;
    background: url(../../static/img/bigAdd.png) no-repeat;
    background-size: 100% 100%;
}
.nodata>p{
    height: 2.375rem;
    line-height: 2.375rem;
    color: #fff;
    font-size: 1.166667rem;
}

/* 单次和周期课程选择 */
.m-tab{
    width: 100%;
    height: 3.666667rem;
    border-bottom: 1px solid #E4E4E4;
    box-sizing: border-box;
}
.m-tab>a{
    flex: 1;
    font-size: 16px;
    text-align: center;
    color: #353535; 
    height: 100%;
}

.m-tab>a>span{
    display: inline-block;
    width: 86%;
    height: 3.666667rem;
    line-height: 3.666667rem;
}
.m-tab>a.active>span{
    display: inline-block;
    width: 86%;
    height: 3.666667rem;
    line-height: 3.75rem;
    color: #F35A50;
    border-bottom: 2px solid #F35A50;
    box-sizing: border-box;
}

/* 单次/周期课程列表 */
.course-detail{    
    position: absolute;
    top: 3.666667rem;
    bottom: 0;
    width: 100%;
}
/* 列表刷新 */
#wraper{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#scroller{
    width: 100%;
}
#pullDown,#pullUp {    
    height: 3rem;    
    line-height: 3rem;      
    text-align: center;
    font-weight: bold;    
    font-size: 14px;    
    color: #888;    
}
.single-course{
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.period-course{
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.course-show{
    position: relative;
    width: 97.33%;
    height: 15.083333rem;
    border-radius: 0.416667rem;
    margin-top: 0.416667rem;
    overflow: hidden;
}
.course-show.last{
    margin-bottom: 0.416667rem;
}
.course-show img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border: 0;
}
.course-show>.show-con{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}
.show-con>h1{
    width: 100%;
    height: 3.166667rem;
    line-height: 3.166667rem;
    padding-top: 4.666667rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 2.333333rem;
}
.show-con>.show-word{
    height: 2.5rem;
    align-items: center;
}
.show-word>em{
    display: block;
    border: 0;
}
.show-word>em.cal{
    width: 1.583333rem;
    height: 1.458333rem;
    background: url(../../static/img/cal.png) no-repeat;
    background-size: 100% 100%;
}
.show-word>em.clock{
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../static/img/clock.png) no-repeat;
    background-size: 100% 100%;
}
.show-word>span{
    display: inline-block;
    padding-left: 0.75rem;
    font-size: 1.166667rem;
    color: #fff;
    padding-top: 1%;
}
.show-con>.show-join{
    width: 8.666667rem;
    height: 2.083333rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    border-radius: 1.041667rem;
    background-color: rgba(255,0,108,.5);
}
.show-join>em{
    width: 1.0rem;
    height: 0.708333rem;
    background: url(../../static/img/gou.png) no-repeat;
    background-size: 100% 100%;
}
.show-join>span{
    margin-left: 0.5rem;
    color: #fff;
    font-size: 1.083333rem;
}

/* toast样式*/
.m-toast{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    width: 8.75rem;
    padding: 0.8rem 1.583333rem;
    text-align: center;
    font-size: 1.333333rem;
    border-radius: 1.666667rem;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    z-index: 2147483647;
}

/* 删除课程弹窗 */
.m-delPop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-isDel{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 92%;
    height: 8.6rem;
    background: #fff;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.666667rem;
}
.m-delPop>.m-isDel-shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5); 
}
.m-isDel>p{
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.m-isDel>.isSure{
    width: 100%;
    height: 3.8rem;
    border-top: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.isSure>span{
    flex: 1;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 14px;
    border-left: 1px solid #eee; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.isSure>span:first-child{
    border-left: 0;
}