html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

a,
input {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  border: 1px solid #dedede;
}

input[type="button"] {
  background: none;
  border: none;
  text-align: center;
}

.flex-cell {
  display: block;
  /* OLD */
  width: 100%;
  /* OLD */
}

.flex,
.flex-column {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex {
  -webkit-box-orient: horizontal;
  /* OLD */
  -moz-box-orient: horizontal;
  /* OLD */
  -ms-box-orient: horizontal;
  /* OLD */
  -webkit-flex-flow: row;
  flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  /* OLD */
  -moz-box-orient: vertical;
  /* OLD */
  -ms-box-orient: vertical;
  /* OLD */
  -webkit-flex-flow: column;
  flex-flow: column;
}

.flex-cell {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* settingbtn */

/*保存设置按钮组件*/

.settingbtn-on {
  background-color: #fafafa;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
  color: #f45a4f;
}

.settingbtn-on>em,
.settingbtn-active>em {
  font-size: 17px;
}

.settingbtn-off {
  background-color: #fafafa;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
}

.settingbtn-off>em {
  font-size: 17px;
  color: #f45a4f;
  opacity: 0.4;
}

.settingbtn-active {
  background-color: #f45a4f;
  line-height: 49px;
  height: 49px;
  text-align: center;
  border-top: 1px solid #dadada;
  color: #ffffff;
}

/* @import url(../../../common/static/mediaQuery.css); */

/*公共media query查询 1rem初始设置为12px
dpr为2时对应750的效果图 dpr为3时对应1080的效果图
查询区间间隔暂时设置为30px 对应3倍图时 1rem大小变化1px
对于dpr为2的有额外百分之4.2增大的兼容*/

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 60%;
  }
}

@media screen and (min-width: 321px) and (max-width:350px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 71.62%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 68.75%;
    }
}
}

@media screen and (min-width: 351px) and (max-width:380px) {
  html,
  body {
    font-size: 75%;
  }
}

@media screen and (min-width: 381px) and (max-width:410px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 84.64%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 81.25%;
    }
}
}

@media screen and (min-width: 411px) and (max-width:440px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 91.15%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 87.5%;
    }
}
}

@media screen and (min-width: 441px) and (max-width:470px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 97.66%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 93.75%;
    }
}
}

@media screen and (min-width: 471px) and (max-width:500px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 104.17%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 100%;
    }
}
}

@media screen and (min-width: 501px) and (max-width:539px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 110.68%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 106.25%;
    }
}
}

@media screen and (min-width: 540px) {
  html,
  body {
    font-size: 115%;
  }
}

* {
  -webkit-backface-visibility: hidden;
}

html,
body,
#ROOT,
.page,
.full {
  height: 100%;
}

#ROOT {
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.page {
  position: relative;
  height: 92%;
}

body {
  overflow: hidden;
}

/* img { pointer-events: none; } */

/*{-webkit-tap-highlight-color:none;-webkit-user-select:none} */

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  height: 0 !important;
}

.visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.progress_page {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
}

.progress {
  width: 27.6667rem;
  height: 8.3333rem;
  margin: 0 auto;
}

.progress_img {
  width: 17.125rem;
  height: 3rem;
  background-image: url(../images/cover/02.png);
  background-size: 100% 100%;
  margin-top: 2.5rem;
  position: relative;
}

.progress_total {
  height: 0.4583rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 14rem;
}

.progress_loaded {
  background-image: url(../images/cover/01.png);
  background-size: 100% 100%;
  height: 100%;
  float: left;
  width: 7rem;
}

.fireworks {
  position: relative;
  float: left;
}

.fireworks img {
  position: absolute;
  left: -4.5rem;
  top: -2.5rem;
  width: 8.333rem;
}

.progress_right {
  padding-left: 0.5rem;
  width: 10.5417rem;
  font-size: 1rem;
}

.progress_num {
  font-size: 1.5rem;
  padding-top: 2.3rem;
  text-align: left;
  font-style: italic;
}

.cartoon,
.game {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.scene {
  height: 100%;
}

.scene.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.ope_wrap {
  width: 140%;
  height: 140%;
  position: absolute;
  left: -20%;
  top: -20%;
}

.cartoon_img {
  background-size: 100% 100%;
  height: 100%;
  display: none;
}

.cartoon_img.show {
  display: block;
}

#appPage {
  height: 100%;
}

.hei100 {
  height: 100%;
}

.home_page_content {
  background: url(../images/cover/bg.png);
  background-size: 100% 100%;
  position: relative;
}

.home_page_right {
  text-align: center;
  margin: 0 auto;
}

.log_bg {
  width: 21.333rem;
  height: 14.833rem;
  background: url(../images/cover/logo.png);
}

.start_btn {
  width: 21.59%;
  height: 20.58%;
  display: inline-block;
  position: absolute;
  bottom: 9.16%;
  right: 11.47%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
  /* display: none; */
}

.show {
  visibility: visible;
  opacity: 1;
  /* display: block; */
}

.pickup_btn,
.nopickup_btn {
  display: inline-block;
  width: 18%;
  height: 18%;
  position: absolute;
  bottom: 12.22%;
}

.pickup_btn {
  left: 11.54%;
}

.nopickup_btn {
  left: 32.83%;
}

.scene_item {
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.scene_item.show {
  visibility: visible;
  opacity: 1;
}

.scene1 {
  background: url(../images/scene/1.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scene2 {
  background: url(../images/scene/2.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scene3 {
  background: url(../images/scene/3.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scene4 {
  background: url(../images/scene/4.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scene5 {
  background: url(../images/scene/5.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.left_side,
.right_side {
  position: absolute;
  width: 2.208rem;
  height: 2.625rem;
  color: white;
  font-size: 22px;
  z-index: 5;
  top: 40%;
  text-align: center;
}

.left_side {
  left: 1rem;
  background: url(../images/icon/icon-left.png);
  background-size: 100% 100%;
}

.right_side {
  right: 1rem;
  background: url(../images/icon/icon-right.png);
  background-size: 100% 100%;
}

.left_side .click_area,
.right_side .click_area {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: -20%;
}

.prompt_line {
  position: absolute;
  height: 8%;
  width: 100%;
  bottom: -8%;
  z-index: 25;
  font-size: 1.25rem;
}

.opa_bg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
  position: absolute;
  z-index: -1;
}

.prompt_line p {
  line-height: 2.7rem;
  color: white;
  padding-left: 1rem;
}

.big_icon_layer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  z-index: 20;
}

.big_icon_layer.show {
  display: table;
}

.big_icon_layer>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mask_layer {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
  position: absolute;
  z-index: 10;
  display: none;
  top: 0;
}

.mask_layer.show {
  display: block;
}



.bar_comb_icon {
  width: 1.417rem;
  height: 1.417rem;
  position: absolute;
  top: -3px;
  right: -3px;
  display: inline-block;
  background-image: url(../images/icon/comb_icon.png);
  background-size: 100% 100%;
}

.bar_excl_icon {
  width: 0.5rem;
  height: 1.625rem;
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  background-image: url(../images/icon/excl_icon.png);
  background-size: 100% 100%;
}

.bar_hook_icon {
  width: 1.4583rem;
  height: 1.0833rem;
  position: absolute;
  top: -3px;
  right: -3px;
  display: inline-block;
  background-image: url(../images/icon/hook_icon.png);
  background-size: 100% 100%;
}

.small_icon {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.codedlock1 {
  width: 5%;
  height: 11.254%;
  position: absolute;
  left: 38.2%;
  top: 33.1543%;
  z-index: 1;
}

.phone1 {
  position: absolute;
  width: 4.375rem;
  height: 7.717%;
  left: -2rem;
  top: 60.27%;
  background-image: url(../images/icon/phone2.png);
  background-size: 100% 100%;
  z-index: 1;
}

.wine1 {
  width: 3%;
  height: 11%;
  position: absolute;
  left: 18%;
  top: 48%;
}

.bag1 {
  width: 4%;
  height: 11%;
  position: absolute;
  left: 23%;
  top: 81%;
}

.tablelamp1 {
  width: 8%;
  height: 12%;
  position: absolute;
  left: 8%;
  top: 44%;
}

.waterB1 {
  width: 11%;
  height: 12%;
  position: absolute;
  left: 62%;
  top: 80%;
}

.CD1 {
  width: 4%;
  height: 4%;
  position: absolute;
  left: 0%;
  top: 66%;
}

.file1 {
  width: 8%;
  height: 8%;
  position: absolute;
  left: 7%;
  top: 61%;
}

.door1 {
  width: 16%;
  height: 72%;
  position: absolute;
  left: 40%;
  top: 0%;
}

.phone2 {
  position: absolute;
  width: 7.79%;
  height: 7.717%;
  left: 58%;
  top: 56.27%;
  background-image: url(../images/icon/phone2.png);
  background-size: 100% 100%;
  z-index: 1;
}

.bulb2 {
  position: absolute;
  width: 3.2233%;
  height: 4.8338%;
  left: 43%;
  top: 54.3408%;
  background-image: url(../images/icon/bulb2.png);
  background-size: 100% 100%;
  z-index: 1;
}

.computer2 {
  width: 12%;
  height: 19.254%;
  position: absolute;
  left: 49%;
  top: 23.1543%;
}

.photoframe2 {
  width: 7%;
  height: 11.254%;
  position: absolute;
  left: 7%;
  top: 45.1543%;
}

.book2 {
  width: 17%;
  height: 15.254%;
  position: absolute;
  left: 0;
  top: 12.1543%;
}

.chair2 {
  width: 17%;
  height: 18.254%;
  position: absolute;
  left: 34%;
  bottom: 0;
}

.ashtray2 {
  width: 4.5%;
  height: 8.254%;
  position: absolute;
  left: 23%;
  top: 62.1543%;
}

.CD2 {
  width: 5%;
  height: 6.254%;
  position: absolute;
  left: 66%;
  top: 64%;
}

.file2 {
  width: 8%;
  height: 7.254%;
  position: absolute;
  left: 72%;
  top: 59.1543%;
}

.wine2 {
  width: 3%;
  height: 14%;
  position: absolute;
  left: 77%;
  top: 42%;
}

.bottle2 {
  width: 4%;
  height: 11%;
  position: absolute;
  left: 15.5%;
  top: 68%;
}

.tablelamp2 {
  width: 9%;
  height: 15%;
  position: absolute;
  left: 65%;
  top: 36%;
}

.bookB2 {
  width: 7%;
  height: 7.5%;
  position: absolute;
  left: 52%;
  top: 55%;
}

.keyboard2 {
  width: 11%;
  height: 7.5%;
  position: absolute;
  left: 46%;
  top: 68%;
}

.glassbox2 {
  width: 5%;
  height: 4%;
  position: absolute;
  left: 40%;
  top: 50%;
}

.glass2 {
  width: 2%;
  height: 7%;
  position: absolute;
  left: 47.5%;
  top: 51%;
}

.mouse2 {
  width: 3%;
  height: 6%;
  position: absolute;
  left: 62.5%;
  top: 72%;
}

.socket2 {
  width: 3%;
  height: 9%;
  position: absolute;
  left: 59%;
  top: 83%;
}

.aromathMachine3 {
  position: absolute;
  width: 2%;
  height: 3.717%;
  left: 62.3%;
  top: 30.87%;
  background-image: url(../images/icon/aromathMachine3.png);
  background-size: 100% 100%;
}

.wisdomBox3 {
  position: absolute;
  width: 3.5223%;
  height: 4.6624%;
  left: 20.117%;
  top: 45.585%;
  background-image: url(../images/icon/wisdomBox3.png);
  background-size: 100% 100%;
}

.water3 {
  position: absolute;
  width: 4.1229%;
  height: 7.8778%;
  left: 16.117%;
  top: 43.585%;
  background-image: url(../images/icon/water3.png);
  background-size: 100% 100%;
  z-index: 1;
}

.water3 .ope_wrap {
  left: -50%;
}

.esseOil3 {
  position: absolute;
  width: 5.1724%;
  height: 8.4592%;
  right: 10.3%;
  bottom: 39.07%;
  background-image: url(../images/icon/esseOil3.png);
  background-size: 100% 100%;
  z-index: 2;
}

.lampholder3 {
  position: absolute;
  width: 15.892%;
  height: 37.4622%;
  right: 4.3%;
  top: 22.07%;
  background-image: url(../images/icon/lampholder3.png);
  background-size: 100% 100%;
}

.lampholder3 .ope_wrap {
  height: 55%;
  width: 90%;
  top: 0;
  left: 10%;
}

.fleabag3 {
  position: absolute;
  width: 2.24888%;
  height: 4.68278%;
  left: 58.92%;
  bottom: 9.4855%;
  background-image: url(../images/icon/fleabag3.png);
  background-size: 100% 100%;
  z-index: 1;
}

.fleabag3 .ope_wrap {
  width: 300%;
  height: 200%;
  top: -100%;
  left: -100%;
}

.fleabagBed3 {
  position: absolute;
  width: 2.24888%;
  height: 4.68278%;
  left: 65.92%;
  top: 48.4855%;
  background-size: 100% 100%;
}

.fleabagBed-xu {
  background-image: url(../images/icon/fleabag-xu.png);
}

.fleabagBed-shi {
  background-image: url(../images/icon/fleabag-shi.png);
}

.bed3 {
  position: absolute;
  width: 5.24888%;
  height: 7.68278%;
  left: 63.92%;
  top: 38.4855%;
}

.socks3 {
  position: absolute;
  width: 5.1724%;
  height: 10.4592%;
  left: 44.8%;
  top: 36.07%;
  z-index: 1;
}

.drawer3 {
  position: absolute;
  width: 11.1724%;
  height: 11.4592%;
  right: 14.3%;
  bottom: 24.07%;
}

.pillow3 {
  position: absolute;
  width: 8.1724%;
  height: 14.4592%;
  right: 21.3%;
  top: 29.07%;
}

.curtainA3 {
  width: 4.8%;
  height: 26.254%;
  position: absolute;
  left: 38.2%;
  top: 0;
}

.curtainB3 {
  width: 4.8%;
  height: 26.254%;
  position: absolute;
  left: 53.2%;
  top: 0;
}

.window3 {
  width: 5.8%;
  height: 25.254%;
  position: absolute;
  left: 46.2%;
  top: 0;
}

.clothes3 {
  width: 3.8%;
  height: 8.254%;
  position: absolute;
  left: 58.2%;
  top: 39.1543%;
}

.sound3 {
  width: 5%;
  height: 15.254%;
  position: absolute;
  left: 5%;
  top: 55.1543%;
}

.TVbench3 {
  width: 10%;
  height: 7%;
  position: absolute;
  left: 13%;
  top: 57.1543%;
}

.slipper3 {
  width: 7%;
  height: 7.254%;
  position: absolute;
  left: 63%;
  top: 73.1543%;
  z-index: 1;
}

.quilt3 {
  width: 10%;
  height: 13.254%;
  position: absolute;
  left: 45.2%;
  top: 37.1543%;
}

.TV3 {
  width: 11%;
  height: 18.254%;
  position: absolute;
  left: 10%;
  top: 17.1543%;
}

.magazine3 {
  width: 4%;
  height: 3%;
  position: absolute;
  left: 24%;
  top: 41%;
}

.vase3 {
  width: 2%;
  height: 6%;
  position: absolute;
  left: 28.5%;
  top: 34%;
}

.jeans3 {
  width: 4%;
  height: 2.5%;
  position: absolute;
  left: 60%;
  top: 60%;
}

.carpet3 {
  width: 27%;
  height: 13%;
  position: absolute;
  left: 38.5%;
  top: 70%;
}

.littleSound3 {
  width: 3%;
  height: 4%;
  position: absolute;
  left: 15.5%;
  top: 50%;
}

.paper3 {
  width: 2%;
  height: 4%;
  position: absolute;
  left: 4%;
  top: 70%;
  background-image: url(../images/icon/paperA.png);
  background-size: 100% 100%;
  z-index: 1;
}

.paper3 .ope_wrap {
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
}

.aromathMachine4 {
  position: absolute;
  width: 3.0734%;
  height: 8.36%;
  left: 26%;
  top: 54.27%;
  background-image: url(../images/icon/aromathMachine4.png);
  background-size: 100% 100%;
}

.esseOil4 {
  position: absolute;
  width: 1.7991%;
  height: 6.9132%;
  right: 34.3%;
  top: 55%;
  background-image: url(../images/icon/esseOil4.png);
  background-size: 100% 100%;
  z-index: 2;
}

.lampholder4 {
  position: absolute;
  width: 10.27%;
  height: 24.7588%;
  right: 32.3%;
  top: 38.07%;
  background-image: url(../images/icon/lampholder4.png);
  background-size: 100% 100%;
}

.lampholder4 .ope_wrap {
  height: 55%;
  width: 90%;
  top: 10%;
  left: 10%;
}

.fleabag4 {
  position: absolute;
  width: 2.3238%;
  height: 4.5016%;
  left: 68.92%;
  bottom: 9.4855%;
  background-image: url(../images/icon/fleabag4.png);
  background-size: 100% 100%;
}

.mural4 {
  position: absolute;
  width: 21.739%;
  height: 32.154%;
  left: 34.033%;
  top: 1%;
}

.mural4 .ope_wrap {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mural_big {
  width: 22.8333rem;
  height: 18.7916rem;
  display: inline-block;
  position: relative;
  background-image: url(../images/bigImg/mural1.png);
  background-size: 100% 100%;
}

.mural_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.6;
  color: white;
}

.guitar4 {
  position: absolute;
  width: 4.5991%;
  height: 23.2132%;
  right: 13.3%;
  bottom: 17%;
  z-index: 1;
}

.drawer4 {
  position: absolute;
  width: 7.1724%;
  height: 10.0592%;
  right: 32.3%;
  bottom: 24.07%;
}

.pillow4 {
  position: absolute;
  width: 15.1724%;
  height: 9.4592%;
  left: 38.3%;
  top: 48.07%;
}

.chest4 {
  width: 14%;
  height: 66%;
  position: absolute;
  right: 0;
  top: 0;
}

.quilt4 {
  width: 31%;
  height: 10.254%;
  position: absolute;
  left: 27%;
  top: 79.1543%;
}

.clothes4 {
  width: 7%;
  height: 10%;
  position: absolute;
  left: 47%;
  top: 65%;
  z-index: 1;
}

.bed4 {
  width: 22%;
  height: 12%;
  position: absolute;
  left: 33%;
  top: 62%;
}

.plant4 {
  width: 8%;
  height: 34%;
  position: absolute;
  left: 70%;
  top: 39%;
}

.jeans4 {
  width: 7%;
  height: 7%;
  position: absolute;
  left: 30%;
  top: 63%;
  z-index: 1;
}

.paper4 {
  width: 1.5%;
  height: 3%;
  position: absolute;
  left: 12.5%;
  top: 79.5%;
  background-image: url(../images/icon/paperB.png);
  background-size: 100% 100%;
  z-index: 1;
}

.paper4 .ope_wrap {
  width: 300%;
  height: 300%;
  left: -100%;
  top: -100%;
}

.muralPaper4 {
  position: absolute;
  width: 4%;
  height: 5%;
  left: 36.8%;
  bottom: 68%;
  background-image: url(../images/bigImg/paper-small.png);
  background-size: 100% 100%;
}

.water5 {
  position: absolute;
  width: 2.287%;
  height: 9.968%;
  left: 51.817%;
  bottom: 21.585%;
  background-image: url(../images/icon/water5.png);
  background-size: 100% 100%;
  z-index: 1;
}

.wisdomBox5 {
  position: absolute;
  width: 3.5223%;
  height: 4.6624%;
  left: 57.117%;
  bottom: 20%;
  background-image: url(../images/icon/wisdomBox5.png);
  background-size: 100% 100%;
}

.flamp5 {
  position: absolute;
  width: 16.491%;
  height: 65.273%;
  left: 21.117%;
  bottom: 9%;
}

.flamp5-img {
  width: 100%;
  height: 100%;
}

.flamp-open {
  background-image: url(../images/icon/flamp-open.png);
}

.flamp-close {
  background-image: url(../images/icon/flamp-close.png);
}

.mirror5 {
  width: 10%;
  height: 45.254%;
  position: absolute;
  left: 8%;
  top: 32.1543%;
}

.aircondition5 {
  width: 12%;
  height: 11%;
  position: absolute;
  left: 7%;
  top: 3%;
}

.TV5 {
  width: 18%;
  height: 22%;
  position: absolute;
  left: 53%;
  top: 39%;
}

.soundA5 {
  width: 4%;
  height: 21%;
  position: absolute;
  left: 39%;
  top: 57%;
}

.soundB5 {
  width: 4%;
  height: 21%;
  position: absolute;
  left: 83%;
  top: 57%;
}

.TVbench5 {
  width: 28%;
  height: 6%;
  position: absolute;
  left: 50%;
  top: 83%;
}

.clife5 {
  width: 18%;
  height: 15%;
  position: absolute;
  left: 53%;
  top: 10%;
}

.magazine5 {
  position: absolute;
  width: 5%;
  height: 5%;
  left: 66.5%;
  top: 75%;
}

.vase5 {
  position: absolute;
  width: 5%;
  height: 12%;
  left: 76%;
  top: 66%;
}

.littleSound5 {
  position: absolute;
  width: 2%;
  height: 4%;
  left: 47.5%;
  top: 75%;
}

.paper5 {
  width: 1.5%;
  height: 4%;
  position: absolute;
  left: 38.4%;
  top: 79%;
  background-image: url(../images/icon/paperC.png);
  background-size: 100% 100%;
  z-index: 1;
}

.paper5 .ope_wrap {
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
}

.coded_lock_wrap {
  width: 15.333rem;
  height: 19.042rem;
  background: url(../images/bigImg/codedLock.png);
  background-size: 100% 100%;
  position: relative;
  text-align: left;
  display: inline-block;
}

input.pwd_input {
  background: rgb(21,25,47);
  border: none;
  margin-left: 3rem;
  margin-top: 3.2rem;
  width: 9rem;
  color: white;
  font-size: 1.1rem;
}

input.pwd_input.red {
  color: red;
}

input.pwd_input.green {
  color: green;
}

input.pwd_input.brown {
  color: rgb(21,25,47);
}

.coded_lock_wrap .btn {
  position: absolute;
  width: 3.167rem;
  height: 2.667rem;
  display: inline-block;
}

.coded_lock_wrap .btn0,
.coded_lock_wrap .btn3,
.coded_lock_wrap .btn6,
.coded_lock_wrap .btn9 {
  left: 2.58rem;
}

.coded_lock_wrap .btn1,
.coded_lock_wrap .btn4,
.coded_lock_wrap .btn7,
.coded_lock_wrap .btn10 {
  left: 6.117rem;
}

.coded_lock_wrap .btn2,
.coded_lock_wrap .btn5,
.coded_lock_wrap .btn8,
.coded_lock_wrap .btn11 {
  left: 9.8rem;
}

.coded_lock_wrap .btn0,
.coded_lock_wrap .btn1,
.coded_lock_wrap .btn2 {
  top: 5.333rem;
}

.coded_lock_wrap .btn3,
.coded_lock_wrap .btn4,
.coded_lock_wrap .btn5 {
  top: 8rem;
}

.coded_lock_wrap .btn6,
.coded_lock_wrap .btn7,
.coded_lock_wrap .btn8 {
  top: 10.708rem;
}

.coded_lock_wrap .btn9,
.coded_lock_wrap .btn10,
.coded_lock_wrap .btn11 {
  top: 13.417rem;
}

.equip_bar {
  width: 13.958rem;
  height: 100%;
  background: url(../images/equip-bar.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 15;
}

.chests {
  position: absolute;
  width: 9.6%;
  height: 4.167rem;
  background-size: 100% 100%;
  right: 3.625rem;
  bottom: 0rem;
}

.chests.close {
  background-image: url(../images/icon/box-closed.png);
}

.chests.open {
  background-image: url(../images/icon/box-opened.png);
}



.equip_cell {
  width: 4.042rem;
  height: 16.0771%;
  position: absolute;
}

.equip_cell.selected {
  background: url(../images/icon/curr-equip-border.png);
  background-size: 100% 100%;
}

.equip_div {
  padding: 0.617rem;
  text-align: center;
  line-height: 3.517rem;
}

.equip_div img {
  max-height: 2.917rem;
  max-width: 2.917rem;
}

.eqc0,
.eqc1 {
  top: 4.82315%;
}

.eqc2,
.eqc3 {
  top: 22.7511%;
}

.eqc4,
.eqc5 {
  top: 40.8567%;
}

.eqc6,
.eqc7 {
  top: 58.8424%;
}

.eqc0,
.eqc2,
.eqc4,
.eqc6 {
  left: 3.68rem;
}

.eqc1,
.eqc3,
.eqc5,
.eqc7 {
  left: 8.66rem;
}

.vertical_tips {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  padding-top: 8rem;
  text-align: center;
}

.vertical_tips.show {
  display: block;
}

.unlock_tips {
  font-size: 0.6rem;
  line-height: 2rem;
}

.equip_box {
  position: absolute;
  width: 14rem;
  height: 16rem;
  top: 17%;
  line-height: 16rem;
  text-align: center;
  z-index: 15;
}

.equip_box img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.box0 {
  left: 30%;
}

.box1 {
  left: 1rem;
}

.box2 {
  left: 30%;
}

.box3 {
  width: 5rem;
  right: 15rem;
  padding-top: 1rem;
}

.box3 input {
  height: 6rem;
  vertical-align: middle;
  width: 4.5rem;
  background-image: url(../images/icon/combine_btn.png);
  background-size: 100% 100%;
}

.close_bar {
  position: absolute;
  width: 2.6rem;
  height: 6rem;
  top: 0.5rem;
  left: 0;
}

.equip_bg {
  max-width: 16rem;
  max-height: 18rem;
  display: inline-block;
  vertical-align: middle;
}

.fog {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: -4rem;
  left: 0;
  background-image: url(../images/icon/fog.png);
  background-size: 100% 100%;
}

.equip_wrap {
  width: 17rem;
  height: 20rem;
  position: absolute;
  display: inline-block;
  z-index: 15;
  top: 9.646%;
  left: 3rem;
  text-align: center;
  line-height: 20rem;
}

.wifi_light {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  bottom: 1rem;
  right: 4.5rem;
}

.spray_btn {
  display: inline-block;
  width: 70%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 15%;
}

.turnover_btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.white_btn {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  position: absolute;
  top: 9.5rem;
  right: 5.2rem;
}

.switch_btn {
  display: inline-block;
  width: 8rem;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 4.5rem;
}

.phone_bg {
  max-width: 9.125rem;
  max-height: 19.04rem;
}

.phone_wrap {
  width: 9.125rem;
  height: 19.04rem;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  z-index: 15;
  top: 12%;
  left: 34%;
}

.phone_wrap.screen_center {
  left: 42%;
}

.phone_wrap.bar_center {
  left: 35%;
}

.phone_wrap.bar_right {
  left: 45%;
}

.hangup1 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 12.5rem;
  left: 1rem;
}

.answer1 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 12.5rem;
  right: 1rem;
}

.time2 {
  display: inline-block;
  width: 2.708rem;
  position: absolute;
  top: 6rem;
  left: 3.2rem;
  background-color: rgb(104,108,113);
  font-size: 1rem;
}

.hangup2 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 12.5rem;
  left: 3.2rem;
}

.bind3,
.bind5,
.optimal12 {
  display: inline-block;
  width: 7.08333rem;
  height: 2.25rem;
  position: absolute;
  top: 12.7rem;
  left: 1rem;
}

.blue10 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 7.7rem;
  left: 1.5rem;
}

.pink10 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 7.7rem;
  right: 1.1rem;
}

.read10 {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 3.5rem;
  left: 1.3rem;
}

.rest10 {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 3.5rem;
  right: 0.8rem;
}

.green11 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 7.7rem;
  left: 1.5rem;
}

.yellow11 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 7.7rem;
  right: 1.1rem;
}

.closedGear11 {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 12.5rem;
  left: 0.5rem;
}

.firstGear11 {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 12.5rem;
  left: 3.1rem;
}

.secondGear11 {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 12.5rem;
  left: 5.7rem;
}

.up9 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 12rem;
  left: 1.05rem;
}

.down9 {
  display: inline-block;
  width: 2.708rem;
  height: 2.708rem;
  position: absolute;
  top: 12rem;
  right: 0.8rem;
}

.tempe9 {
  display: inline-block;
  width: 4.708rem;
  height: 2rem;
  position: absolute;
  top: 8.3rem;
  left: 2.7rem;
  background-color: rgb(103,107,112);
  font-size: 1.8rem;
  color: white;
}

.hook_icon {
  width: 1.2rem;
  margin-top: 0.9rem;
  margin-left: 0.7rem;
}

.share {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 30;
}

.img_wrap {
  width: 90%;
  height: 92%;
  position: absolute;
  left: 3%;
  top: 2%;
  background-image: url(../images/cover/13.png);
  background-size: 100% 100%;
}

.tip_icon {
  position: fixed;
}

.dim_layer {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
  position: fixed;
}

.bg_img {
  width: 100%;
  height: 100%;
}

.again_btn {
  width: 10.9rem;
  height: 3.3rem;
  position: absolute;
  bottom: 2.2rem;
  right: 60%;
  background-image: url('../images/cover/16.png');
  background-size: 100% 100%;
  display: inline-block;
}

.accept_btn,
.lock_btn {
  width: 10.208rem;
  height: 3.3rem;
  bottom: 2.2rem;
  right: 33%;
  background-image: url(../images/cover/15.png);
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
}

.lock_btn {
  background-image: url(../images/cover/15-lock.png);
}

.share_btn {
  width: 10.9rem;
  height: 3.3rem;
  position: absolute;
  bottom: 2.2rem;
  right: 5%;
  background-image: url('../images/cover/14.png');
  background-size: 100% 100%;
}

.again_btn span,
.accept_btn span,
.lock_btn span,
.share_btn span {
  display: block;
  text-align: center;
  margin-top: 3.5rem;
  color: white;
  font-size: 0.9rem;
}

.tip_icon {
  width: 14rem;
  right: 0;
  top: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    color: white;
  }

  100% {
    color: black;
  }
}

@-webkit-keyframes fade-out {
  0% {
    color: white;
  }

  100% {
    color: black;
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.04;
  }

  20% {
    opacity: 0.09;
  }

  30% {
    opacity: 0.15;
  }

  40% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.37;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in2 {
  /*针对webkit内核*/
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.04;
  }

  20% {
    opacity: 0.09;
  }

  30% {
    opacity: 0.15;
  }

  40% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.37;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.shadow {
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation: fade-in 1.5s;
  width: 100%;
  height: 100%;
  background-color: black;
}

.cartoon_text {
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  font-size: 2.2rem;
  color: white;
  text-align: center;
  padding-top: 22%;
  font-weight: bold;
}

-webkit-animation: fade-out;

        animation: fade-out; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; color:black;

.cartoon1_text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  bottom: 0;
  font-weight: bold;
  padding-bottom: 8%;
  background-color: #000;
  color: white;
}

.shadow7 {
  -webkit-animation: fade-in2;
          animation: fade-in2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/scene/1.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.next_icon {
  display: inline-block;
  width: 0.875rem;
  height: 0.7916rem;
  margin-left: 1rem;
  background-image: url(../images/icon/down-arrow.png);
  background-size: 100% 100%;
}

.mural_msg {
  position: absolute;
  height: 12rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: white;
  padding: 3.8rem 2.5rem 3.3rem 2.5rem;
}

.prev_page,
.next_page {
  position: absolute;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  left: 10rem;
}

.prev_page img {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.next_page img {
  width: 100%;
}

.prev_page {
  top: 0.5rem;
}

.next_page {
  bottom: 2rem;
}

.start_layer {
  opacity: 0;
  -webkit-animation-name: opac;
  -webkit-animation-duration: 3s;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 35;
}

.blink {
  position: absolute;
  width: 101%;
  height: 101%;
  top: 0;
  left: 0;
  z-index: 35;
  background-color: black;
}

.blink img {
  width: 100%;
  height: 100%;
  background-color: black;
}

@-webkit-keyframes opac {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
    line-height: 26rem;
    font-size: 8rem;
  }

  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
    line-height: 26rem;
    font-size: 8rem;
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(15deg);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(-15deg);
  }
}

@-webkit-keyframes phoneShake {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }

  10%, 30%, 50%, 70%, 90%, 20%, 40%, 60%, 80% {
    -webkit-transform: rotate(2deg);
  }

  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-transform: rotate(-2deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 1s;
  -moz--name: shake;
  -moz-animation-duration: 1s;
}

.phoneShake {
  -webkit-animation-name: phoneShake;
  -webkit-animation-duration: 0.5s;
  -moz--name: shake;
  -moz-animation-duration: 0.5s;
}

/* 拾取道具效果 */

.ani-fly {
  position: absolute;
  width: 0;
  z-index: 100;
}

.ani-fly.bulb {
  -webkit-animation-name: bulbFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.aromathMachine {
  -webkit-animation-name: aromathMachineFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.wisdomBox {
  -webkit-animation-name: wisdomBoxFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.water {
  -webkit-animation-name: waterFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.esseOil {
  -webkit-animation-name: esseOilFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.lampholder {
  -webkit-animation-name: lampholderFly;
  -webkit-animation-duration: 1s;
}

.ani-fly.fleabag {
  -webkit-animation-name: fleabagFly;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes bulbFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 6.26rem;
    bottom: 7rem;
    right: 25rem;
  }

  70% {
    width: 6.26rem;
    bottom: 7rem;
    right: 25rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes aromathMachineFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 10.86rem;
    bottom: 7rem;
    right: 23rem;
  }

  70% {
    width: 10.86rem;
    bottom: 7rem;
    right: 23rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes wisdomBoxFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 15.13rem;
    bottom: 10rem;
    right: 21rem;
  }

  70% {
    width: 15.13rem;
    bottom: 10rem;
    right: 21rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes waterFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 4.63rem;
    bottom: 6rem;
    right: 26rem;
  }

  70% {
    width: 4.63rem;
    bottom: 6rem;
    right: 26rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes esseOilFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 3.67rem;
    bottom: 8rem;
    right: 26rem;
  }

  70% {
    width: 3.67rem;
    bottom: 8rem;
    right: 26rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes lampholderFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 8.73rem;
    bottom: 6rem;
    right: 24rem;
  }

  70% {
    width: 8.73rem;
    bottom: 6rem;
    right: 24rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

@-webkit-keyframes fleabagFly {
  0% {
    width: 0;
    bottom: 10rem;
    right: 28rem;
  }

  60% {
    width: 12rem;
    bottom: 10rem;
    right: 22rem;
  }

  70% {
    width: 12rem;
    bottom: 10rem;
    right: 22rem;
  }

  100% {
    bottom: 2rem;
    right: 5rem;
    width: 0rem;
  }
}

.whiteBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 200;
}

.timer {
  position: absolute;
  top: 80%;
  right: 3.2%;
  font-size: 2rem;
  color: white;
  z-index: 23;
  color: red;
}

.pass_award {
  margin-left: 50%;
  margin-top: 18%;
  width: 48%;
}

.pass_award p {
  padding: 1% 0;
  color: #333;
}

.pass_award p:first-child {
  font-size: 1.2rem;
  color: #000;
}

.qr_code {
  width: 100%;
  height: 5.8rem;
  margin-top: 1rem;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

.flex3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
          flex: 3;
  margin-top: -1.2rem;
}

.pass_award .flex3 {
  padding: 0.2rem;
  color: #333;
  font-size: 1rem;
}

.red {
  color: red;
}

.paper_wrap {
  width: 18.79rem;
  height: 92%;
  font-size: 1rem;
  display: inline-block;
  padding: 8px;
  line-height: 1.5rem;
  text-align: left;
  position: relative;
  background-image: url(../images/bigImg/paper-open.png);
  background-size: 100% 100%;
}

.paper_wrap p {
  text-indent: 2rem;
}

.paper_small {
  width: 4.5rem;
  height: 4rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-image: url(../images/bigImg/paper-small.png);
  background-size: 100% 100%;
}



.rank_page {
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: 1000;
  color: #303030;
  font-size: 1.2rem;
}

.rank_page .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
  z-index: -1;
}

.rank_content {
  width: 70%;
  height: 92%;
  position: absolute;
  left: 15%;
  top: 2%;
  background-image: url(../images/rank/07.png);
  background-size: 100% 100%;
}

.rank_page .header {
  height: 25.2%;
}

.rank_page .header i {
  display: inline-block;
  position: absolute;
  right: 1.5rem;
  top: 3.5rem;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(../images/rank/06.png);
  background-size: 100% 100%;
}

.rank_page .header i .click_area {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: -20%;
}

.rank_ul {
  height: 73.6%;
  width: 100%;
  overflow: hidden;
}

.rank_icon {
  position: absolute;
  right: 0.8rem;
  top: 4.5rem;
  width: 3rem;
  height: 5rem;
  background-image: url(../images/rank/01.png);
  background-size: 100% 100%;
  text-indent: -9999px;
}

.rank_icon .click_area {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: -20%;
}

.rank_list {
  padding: 0 0.3rem 0 1.3rem;
}

.rank_content ul li {
  height: 3.91rem;
  line-height: 3.91rem;
  position: relative;
  border-top: 1px solid #c6c6c6;
}

.rank_content ul li:nth-child(1) {
  border-top: none;
}

.rank_content ul li .column1 i {
  display: inline-block;
  position: absolute;
  width: 2rem;
  left: 3rem;
  height: 2.5rem;
  top: 0.6rem;
  line-height: 2.5rem;
}

.rank_content ul li:nth-child(1) {
  color: #ee4747;
}

.rank_content ul li:nth-child(2) {
  color: #ee4747;
}

.rank_content ul li:nth-child(3) {
  color: #ee4747;
}

.rank_content ul li:nth-child(1) .column1 i {
  text-indent: -999px;
  width: 2rem;
  height: 2.5rem;
  background-image: url(../images/rank/03.png);
  background-size: 100% 100%;
}

.rank_content ul li:nth-child(2) .column1 i {
  text-indent: -999px;
  width: 2rem;
  height: 2.5rem;
  background-image: url(../images/rank/04.png);
  background-size: 100% 100%;
}

.rank_content ul li:nth-child(3) .column1 i {
  text-indent: -999px;
  width: 2rem;
  height: 2.5rem;
  background-image: url(../images/rank/05.png);
  background-size: 100% 100%;
}

.rank_content ul li span {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.rank_content ul li .column2 {
  position: relative;
  width: 12%;
}

.rank_content ul li .column3 {
  width: 35%;
  text-align: left;
}

.rank_content ul li .head_wrap {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  top: -1.8rem;
}

.rank_content ul li .head_wrap .head_img {
  width: 100%;
  height: 100%;
  background-image: url(../images/rank/02.png);
  background-size: 100% 100%;
}

.rank_empty_tip {
  height: 18rem;
  line-height: 18rem;
  text-align: center;
}

.personalRank {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 20.2%;
}

.tips_70 {
  margin-top: 5px;
}

.prize_desc {
  margin-top: 10px;
}