.ControlPannel {
  position: absolute;
  top: 20%;
  right: 0;
  width: 6.5rem;
  height: 13rem;
  overflow: hidden;
}

.ControlPannel div img {
  width: 2.5rem;
  height: 2.5rem;
}

.ControlPannel div {
  position: absolute;
  top: 42.7%;
  left: 0;
  width: 100%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.ControlPannel .modeOne {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.ControlPannel .modeTwo {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.ControlPannel .modeThree {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.ControlPannel .modeFour {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}