@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(../../../common/static/mediaQuery.css);
@import url(../../../common/src/lib/slided-calendar.css);
/*************layer*************/
.layermbox {
    position: relative;
    z-index: 19891014
}

.layermmain, .laymshade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%

}

.layermbtn span, .layermchild {
    display: inline-block;
    position: relative
}

.laymshade {
    background-color: rgba(0, 0, 0, .5);
    pointer-events: auto;
}

.layermmain {
    display: table;
    font-family: Helvetica, arial, sans-serif;
    pointer-events: none
}

.layermmain .section {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.layermchild {
    text-align: left;
    background-color: #fff;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .18s;
    animation-duration: .18s
}

.layermborder {
    border: 1px solid #999
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.layermanim {
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn
}

.layermbox0 .layermchild {
    max-width: 90%;
    min-width: 150px
}

.layermbox1 .layermchild {
    border: none;
    border-radius: 0
}

.layermbox2 .layermchild {
    width: auto;
    max-width: 260px;
    min-width: 40px;
    border: none;
    background: 0 0;
    box-shadow: none;
    color: #fff
}

.layermchild h3 {
    padding: 0 45px 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #EBEBEB
}

.layermbtn span, .layermchild h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.layermcont {
    padding: 20px 15px;
    line-height: 22px;
    text-align: center
}

.layermbox1 .layermcont {
    padding: 0;
    text-align: left
}

.layermbox2 .layermcont {
    text-align: center;
    padding: 0;
    line-height: 0
}

.layermbox2 .layermcont i {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bouncedelay {
    0%, 100%, 80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes bouncedelay {
    0%, 100%, 80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.layermbox2 .layermcont i:first-child {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.layermbox2 .layermcont i.laymloadtwo {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.layermbox2 .layermcont > div {
    line-height: 22px;
    padding-top: 7px;
    margin-bottom: 20px;
    font-size: 14px
}

.layermbtn {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    text-align: center;
    border-top: 1px solid #EBEBEB
}

.layermbtn span {
    width: 50%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 3px 0 0
}

.layermbtn span:first-child {
    height: 39px;
    background-color: #fff;
    border-radius: 0 0 0 3px
}

.layermbtn:before {
    content: '\20';
    position: absolute;
    width: 1px;
    height: 39px;
    left: 50%;
    top: 0;
    background-color: #EBEBEB
}

.layermend {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 0;
    font-weight: 400;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 30px
}

.layermend::after, .layermend::before {
    position: absolute;
    left: 5px;
    top: 15px;
    content: '';
    width: 18px;
    height: 1px;
    background-color: #999;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 3px
}

.layermend::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

/***prompt measure**********************/
.mpt-header {
    width: 100%;
    height: 5.17rem;
    color: #fcfefd;
    background: url(../../static/img/background-image.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.mpt-user-wrap {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
}

.mpt-header-flex {
    display: flex;
    align-items: baseline;
    margin: 0 0.3rem;
}

.mpt-header-span {
    font-size: 0.34rem;
    color: #fff;
    margin-left: 0.3rem;
}

.mpt-wrap-tips {
    width: 100%;
    height: 6.8rem;

}

.mpt-tips-title {
    font-size: 0.32rem;
    display: block;
    margin: 0.32rem 0 0.66rem 0;
}

.tips-r {
    width: 0.24rem;
    height: 3.36rem;
    float: left;
}

.mpt-tips-ul {
    height: 3.36rem;
    font-size: 0.24rem;
    color: #5e5e5e;
    display: flex;
    margin-left: 0.38rem;
    flex-grow: 5;
    flex-direction: column;
    justify-content: space-between;
    float: left;
}

.mpt-wrap-tips-pic {
    margin-top: 0.65rem;
    width: 6.5rem;
    height: 4.9rem;

}

.mpt-footer {
    width: 100%;
    text-align: center;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #31c27c;
    font-size: 0.32rem;
    color: #fff;
    position: fixed;
    bottom: 0;
}

/*.mpt-tips {*/
/*width: 6.5rem;*/
/*height: 4.9rem;*/
/*background: url(../../static/img/prompt-tips.png);*/
/*}*/

/****************************/
.index-header {
    width: 100%;
    height: 4.17rem;
    font-size: 0.34rem;
    color: #fcfefd;
    background: url(../../static/img/background-image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
}

.header-title {
    font-size: 0.42rem;
    margin: 0 0.32rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-til {
    font-size: 0.32rem;
    line-height: 0.6rem;
}

.moreItem {
    width: 0.44rem;
    height: 0.08rem;
    margin-top: 0.3rem;
}

.user-message {
    font-size: 0.24rem;
}

.mpt-header-user-img {
    width: 1.13rem;
    height: 1.14rem;
    border-radius: 50%;
    border: 0.05rem solid #d1cab4;
    overflow: hidden;
}

/*.user-message-ul-til, .mpt-header-user-img {*/
/*width: 1.13rem;*/
/*height: 1.14rem;*/
/*border-radius: 50%;*/
/*border: 0.05rem solid #d1cab4;*/
/*overflow: hidden;*/
/*}*/

.user-message-ul-til > img, .mpt-header-user-img > img {
    max-height: 1.14rem;
    max-width: 1.13rem;
}

.user-message-ul > li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.4rem;
}

/*.user-port{*/
/*background: url('../../static/img/user-mes.png') no-repeat left;*/
/*}*/

.user-message > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 0.5rem;
    margin: 0 0.2rem;
}

.user-port {
    width: 1.13rem;
    height: 1.14rem;
    float: left;
}

.bigger-date {
    font-size: 0.42rem;
}

#client-information {
    width: 100%;
    background: #eee;
    color: #616161;
    font-size: 0.24rem;
    margin-bottom: 1.3rem;
    position: relative;
    top: 4.17rem;
}

.c-client-date {
    display: block;
    padding: 0.28rem 0 0.12rem 0.32rem;
}

.c-info-ul {
    position: relative;
    overflow: hidden;
}

.c-info-li {
    background: #fff;
    overflow: hidden;
    width: 130%;
    height: 0.96rem;
    transition: all 0.4s linear;

}

.c-date-l {
    width: 100%;
    height: 0.96rem;
    overflow: hidden;
    float: left;
    line-height: 0.9rem;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.c-date-l-span-l {
    display: flex;
    align-items: center;
}

.c-date-l-span-l-pic {
    width: 0.58rem;
    height: 0.58rem;
}

.c-date-r {
    width: 1.28rem;
    height: 0.96rem;
    float: left;
}

.c-date-r-pic {
    width: 1.28rem;
    height: 0.96rem;
}

.info-message {
    display: none;
}

.selected {
    transform: translate(-16%, 0);
    transition: all 0.4s linear;
}

.moveY-up {
    transform: translate(0, 20%);
    transition: all 0.2s linear;
}

.moveY-down {
    transform: translate(0, -20%);
    transition: all 0.2s linear;
}

.operation {
    width: 100%;
    height: 0.96rem;
    font-size: 0.32rem;
    color: #f9fffb;
    background: #31c27d;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 0.9rem;
}

.operation > a {
    color: #f9fffb;
    display: block;
    width: 50%;
    height: 0.96rem;
}

.op-footer-l > span {
    /*width: 100%;*/
    /*display: block;*/
    /*margin-top: 0.3rem;*/
    /*border-right: 0.01rem solid #fff;*/
}

.op-footer-r > span {
    /*width: 100%;*/
    /*display: block;*/
    /*margin-top: 0.3rem;*/
}

/*!*data-e-chart*!*/

/*.active-color {*/
/*background-color: #31c27d;*/
/*}*/

/*.bg-color {*/
/*background: #31c27d;*/
/*}*/

/*.his-header {*/
/*width: 100%;*/
/*height: 2rem;*/
/*font-size: 0.34rem;*/
/*text-align: center;*/
/*line-height: 0.5rem;*/
/*color: #fafffe;*/
/*padding: 0.2rem 0;*/
/*display: flex;*/
/*align-items: flex-end;*/
/*!*position: fixed;*!*/
/*!*top: 0;*!*/
/*}*/

/*.his-date {*/
/*height: 0.74rem;*/
/*width: 100%;*/
/*font-size: 0.26rem;*/
/*color: #fefffb;*/
/*text-align: center;*/
/*display: flex;*/
/*justify-content: center;*/

/*}*/

/*.wrap-block {*/
/*align-items: center;*/
/*text-decoration: none;*/
/*color: #eee;*/
/*width: 4.8rem;*/
/*height: 0.74rem;*/
/*border: 0.01rem solid #fbffff;*/
/*border-radius: 0.4rem;*/
/*margin-bottom: 0.2rem;*/

/*}*/

/*.wrap-block > span {*/
/*line-height: 0.74rem;*/
/*}*/

/*.his-date-img {*/
/*width: 0.30rem;*/
/*height: 0.32rem;*/
/*margin-right: 0.2rem;*/
/*}*/

/*.date-chart {*/
/*margin-top: 2rem;*/
/*}*/

/*.his-classify {*/
/*height: 1.36rem;*/
/*width: 100%;*/
/*background: #fff;*/
/*font-size: 0.28rem;*/
/*text-align: center;*/
/*display: flex;*/
/*flex-direction: row;*/
/*flex-wrap: wrap;*/
/*padding: 0.32rem 0;*/
/*}*/

/*.header-back {*/
/*margin-left: 0.2rem;*/
/*width: 0.24rem;*/
/*height: 0.44rem;*/
/*float: left;*/
/*}*/

/*.date-chart > li {*/
/*width: 100%;*/
/*height: 5.8rem;*/
/*font-size: 0.26rem;*/
/*font-weight: 600;*/
/*border-bottom: 0.2rem solid #eee*/
/*}*/

/*.date-pick-header {*/
/*width: 100%;*/
/*height: 0.85rem;*/
/*font-size: 0.34rem;*/
/*text-align: center;*/
/*line-height: 0.85rem;*/
/*}*/

/*.data-confirm {*/
/*font-size: 0.34rem;*/
/*display: none;*/
/*text-align: center;*/
/*width: 100%;*/
/*height: 0.96rem;*/
/*line-height: 0.96rem;*/
/*background: #31c27d;*/
/*position: fixed;*/
/*bottom: 0;*/

/*}*/

/*.data-confirm-a {*/
/*width: 100%;*/
/*height: 100%;*/
/*color: #fff;*/
/*display: block;*/
/*}*/

/*.date-pick-cancel {*/
/*position: absolute;*/
/*left: 0.34rem;*/
/*color: #1eb570;*/
/*}*/

/*.date-pick {*/
/*width: 100%;*/
/*}*/

/*.date-confirm {*/
/*width: 100%;*/
/*height: 0.96rem;*/
/*background: #31c27d;*/
/*text-align: center;*/
/*font-size: 0.32rem;*/
/*line-height: 0.96rem;*/
/*color: #fff;*/
/*outline: none;*/
/*display: inherit;*/
/*}*/

/*!*   start comp css*!*/

/*!*data-pick*!*/

/********measure********/
.mea-user {
    width: 7.5rem;
    height: 13.34rem;
    background: url("../../static/img/mea-bg.png") no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mea-header {
    font-size: 0.3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
}

@keyframes fade-move {
    0% {
        opacity: 0.9
    }
    25% {
        opacity: 0.5
    }
    50% {
        opacity: 0.8
    }
    100% {
        opacity: 1
    }
}

.switchChang > li {
    animation: fade-move 2.5s infinite ease-in;
}

.mea-fat, .mea-fat-scanning, .mea-fat-suc, .mea-fat-t {
    display: none;
}

.mea-header > img {
    max-width: 1.12rem;
    max-height: 1.12rem;
    border-radius: 50%;
}

.mea-header > span {
    margin-top: 0.32rem;
}

.mea-fat > img {
    width: 5.1rem;
    height: 6.7rem;
}

.mea-fat-scanning > img {
    width: 6.7rem;
    height: 6.7rem;
}

.mea-fat-suc > img {
    width: 6.7rem;
    height: 6.7rem;
}

.mea-fat-dis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mea-fat-again {
    font-size: 0.3rem;
    color: #fff;
}

.mea-fat-button {
    font-size: 0.36rem;
    width: 6.9rem;
    height: 0.9rem;
    color: #fff;
    border: 0.05rem solid #fff;
    line-height: 0.9rem;
    margin-top: 0.6rem;
    border-radius: 0.2rem;
    text-align: center;
}

.mea-fat-suc {
    position: relative;
}

.user-body-data {
    font-size: 0.86rem;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 6.7rem;
}

.switchChang-active {
    display: block;
}

/*******************measure*******************/
/***********************get-no-data-header   start*/
.get-no-data-header {
    height: 3.2rem;
    width: 100%;
    background-image: url("../../static/img/get-no-data-header.png");
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.get-no-data-header-flex {
    display: flex;
    flex-direction: column;
}

.get-no-data-w {
    font-size: 0.28rem;
    margin-bottom: 0.25rem;
}

.get-no-data-w-data {
    font-size: 0.5rem;
}

.get-no-data-w-data-un {
    font-size: 0.3rem;
}

.get-no-data-content {
    width: 100%;
    height: 10rem;
    font-size: 0.3rem;
    color: #4a4a4a
}

.get-no-data-content-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.get-no-data-content-h > span {
    margin-top: 0.4rem;
}

.get-no-data-content-pic {
    width: 0.62rem;
    height: 0.72rem;
}

.get-no-data-content-f {
    font-size: 0.26rem;
    color: #5e5e5e;
    width: 100%;
    height: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.get-no-data-content-dl {
    margin: 0 0.34rem 1rem 0.34rem;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-around;

}

.get-no-data-content-f-a {
    height: 0.9rem;
    width: 6.9rem;
    font-size: 0.32rem;
    border: 0.05rem solid #20b56d;
    color: #20b56d;
    border-radius: 0.1rem;
    line-height: 0.9rem;
    text-align: center;
    display: block;
}

/***********************get-no-data-header  end*/

/*******************************mea report start*/
.measurementReport-main {
    width: 100%;
    height: 11rem;
}

.measurementReport-ul {
    height: 0.88rem;
    font-size: 0.24rem;
    line-height: 0.88rem;
    text-align: center;
    width: 120%;
    border-bottom: 0.01rem solid #c6c6c6;
    position: relative;
    overflow:hidden;
}

.measurementReport-ul > li {
    float: left;
    width: 20%;
}

.measurementReport-active {
    border-bottom: 0.04rem solid #46d38f;
    color: #46d38f;
}

.measurementReport-content-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 4.6rem;
    font-size: 0.26rem;
}

.measurementReport-txt {
    font-size: 0.6rem;
}

.hiding {
    display: none;
}

.measurementReport-content-pic {
    height: 1rem;
    width: 6.5rem;
}

/*.input-low {*/
/*width: 32%;*/
/*}*/

.range-low {
    background-color: #3c9fe4;
    border-radius: 0.3rem;
    height: 0.16rem;
    width: 100%;
    margin-top: 0.1rem;
    appearance: none;
}

.range-low::-webkit-slider-thumb, .range-normal::-webkit-slider-thumb, .range-high::-webkit-slider-thumb, .range-danger::-webkit-slider-thumb {
    appearance: none;
}

.range-normal {
    background-color: #40db90;
    border-radius: 0.3rem;
    height: 0.16rem;
    width: 100%;
    margin-top: 0.1rem;
    appearance: none;
}

.range-high {
    background-color: #f3ce3c;
    border-radius: 0.3rem;
    height: 0.16rem;
    width: 100%;
    margin-top: 0.1rem;
    appearance: none;
}

/*.range-danger{*/
/*background-color: #ff5644;*/
/*border-radius: 0.3rem;*/
/*height: 0.16rem;*/
/*width: 100%;*/
/*margin-top: 0.1rem;*/
/*appearance:none;*/
/*}*/

#fixLine {
    width: 0.05rem;
    height: 0.4rem;
    position: relative;
    margin-top: 0.3rem;
}

.measurementReport-tips {
    width: 100%;
    height: 5.6rem;
    font-size: 0.26rem;
}

.range-flex-style {
    display: flex;
    text-align: center;
    flex-direction: column;
    float: left;
}

.input-l {
    font-size: 0.2rem;
    color: darkgray;
    display: flex;
    justify-content: space-between;
}

.inputBottom {
    font-size: 0.2rem;
    color: darkgray;
    text-align: right;
}

.measurementReport-tips-wrap {
    height: 100%;
    margin: 0 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #303030;

}

.measurementReport-tips-qus > dt, .measurementReport-tips-ans > dt {
    margin-bottom: 0.2rem;
}

.measurementReport-tips-ans > dt {
    margin-top: 0.2rem;
}

.measurementReport-tips-qus > dd, .measurementReport-tips-ans > dd {
    color: grey;
}

#content {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

/*********************************mea report end*/