@import url(../../../common/static/reset.css);
@import url(../../../common/static/common.css);
@import url(../../../common/static/mediaQuery.css); 
@import url(../../../common/static/lib/qslidor.css); 
@import url(../../../common/static/lib/range.css); 
@import url(../../../common/static/lib/SettingButton.css); 
body{padding-bottom:50px;}
.tr{text-align:right;}
header{
    position:relative;
    background-color:#fb84a6;
    color:#fff;
}
.panelswitch{
    margin:0 auto;
    width:9.36rem;
    height:2.4rem;
    border:3px solid #fff;
    border-radius:1.3rem;
}
.panelswitch>b{
    display:inline-block;
    width:52%;
    height:100%;
    margin-right:-4%;
    line-height:2.2rem;
    border-radius:1.1rem;
    box-sizing:border-box;
    text-align:center;
    font-size:14px;
}
.panelswitch>b.active{
    background-color:#fff;
    border:1px solid #fb84a6;
    color:#fb84ab;
}
.face{
    position:relative;
    margin:2.7rem auto 0;
    width:17.4rem;
    height:17.4rem;
    background:url(../img/girl_bg@2x.png) no-repeat;
    background-size: cover;
}
.face>b{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    width: 2.92rem;
    height: 2.92rem;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: normal;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:2px solid #FFFEFF;
    border-radius: 50%;
    line-height:1;
    font-size: 12px;
    font-weight:bold;
    background-color:#FC84A7;
}
.face>b.active{
    background-color:#6DDBB6;
}
.part1 {
    left: 50%;
    top: 0;
}
.part2 {
    left: 97.55%;
    top: 34.55%;
}
.part3 {
    left: 79.39%;
    top: 90.45%;
}
.part4 {
    left: 20.61%;
    top: 90.45%;
}
.part5 {
    left: 2.45%;
    top: 34.55%;
}
.face>.offline {
    position: absolute;
    top: 37%;
    left: 87%;
    width: auto;
    white-space: nowrap;
    background-color: rgba(0,0,0,.5);
    border-radius: 0 5px 5px 0;
    line-height: 24px;
    padding-right: 10px;
    font-size: 12px;
}
.face>.offline::before {
  position: absolute;
  top: 0;
  left: -24px;
  content: "";
  display: inline-block;
  border: 12px solid transparent;
  border-color: transparent rgba(0,0,0,.5) transparent transparent;
}
.gadget{
    text-align:right;
    padding-right:1rem;
}
.gadget>.logo{
    float:left;
    margin-left:15px;
    height:2rem;
}
.gadget>i, .gadget>a{
    display: inline-block;
    width:2.56rem;
    height:2.56rem;
}
.gadget>.edit{
    background:url(../img/icon_edit@2x.png) no-repeat;
    background-size:cover;
}
.gadget>.edit:active{
    background-image:url(../img/icon_edit_press@2x.png);
}
.gadget>.guide{
    background:url(../img/icon_see@2x.png) no-repeat;
    background-size:cover;
}
.gadget>.guide:active{
    background-image:url(../img/icon_see_press@2x.png);
}
.info-wrap{
    padding:0 17px 24px;
}
.info-wrap>p{
    font-size:14px;
    color:#646464;
    line-height:2;
}

/* 以下沿用彭坤之前样式 */
.pk-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-direction:row;
}
.pk-flex-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -webkit-justify-content:flex-end;
}
.gear-left{
    line-height: 30px;
}
.gear-left,.gear-right{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex: 1;
    padding: 20px 17px;
    font-size: 16px;
}
.gear-choose{
    width: 62px;
    height: 26px;
    border-radius: 24px;
    /*border: 1px solid #ddd;*/
    position: relative;
    background-color: #6EDBB6;
}
.gear-circle{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(221, 221, 221, 0.56);
    position: absolute;
    top:0;
    right: 0;
    background-color: #fff;
}
.gear-circles{
    left: 0;
}
.gear-txt{
    line-height: 26px;
    color: #fff;
    padding-left: 3px;
}
.gear-txts{
    line-height: 26px;
    color: #fff;
    padding-right: 3px;
    text-align: right;
}
.qslider>a.active>i,.qslider-cursor{background-color:#6EDBB6;}
.cleansing-time{
    padding: 24px 17px;
    font-size: 16px;
}
.pk-range>.__range{
    width: 85%;
    margin:0 auto;
}
.pk-range-value{
    width: 85%;
    margin:0 auto;
    padding-bottom: 17px;
    border-bottom: 1px solid #e5e5e5;
}
.pk-range-lvalue,.pk-range-rvalue{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex:1;
    color: #666666;
    font-size: 16px;
}
.fb84a6{
    color: #fb84a6;
}
.qslider{
    color: #666666;
    font-size: 14px;
}
#footer{
    position:fixed;
    bottom:0;
    z-index:10;
    width: 100%;
    background-color:#fff;
}

/* 调整顺序面板 */
.sort-panel{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
    background-color:rgba(0,0,0,.5);
    display:none;
}
.sort-panel>.wrap{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
}
.sort-panel h2{
    line-height:49px;
    border-bottom:1px solid #c6c6c6;
    text-align:center;
    font-size:15px;
    color:#646464;
}
.sort-panel ul{
    position:relative;
    overflow:hidden;
}
.sort-panel li{
    position:relative;
    margin:0 16px 0 60px; 
    padding-left:16px;
    border-bottom:1px solid #c6c6c6;
    line-height:55px;
    font-size:15px;
    color:#323232;
    background-color:#fff;
}
.sort-panel li:last-child{
    border:none;
}
.sort-panel li>b{
    display:inline-block;
    margin-left:-60px; 
    height:2rem;
    line-height:2rem;
    width:2rem;
    border:1px solid #c6c6c6;
    border-radius:1rem;
    vertical-align:middle;
    text-align:center;
    margin-right:16px;
}
.sort-panel li>i{
    display:inline-block;
    height:2.6rem;
    width:2.6rem;
    vertical-align:middle;
    background:url(../img/tableview_icon1@2x.png) no-repeat;
    background-size:cover;
    float:right;
    margin-top:8px;
}
.sort-panel li>i:active{
    background-image:url(../img/tableview_icon1_press@2x.png)
}
.sort-panel .sub-wrap{
    line-height:55px;
    border-top:1px solid #c6c6c6;
    text-align:center;
}
.sort-panel .sub-wrap>input{
    width:49%;
    font-size:15px;
    color:#323232;
}
.sort-panel .sub-wrap>.hl{
    display:inline-block;
    width:0;
    height:30px;
    vertical-align:middle;
    border-left:1px solid #c6c6c6;
}
.sort-panel .sub-wrap>input.no{
    color:#646464;
}
.battery {
    text-align: center;
    padding: 10px 0;
    color: #707070;
    font-size: 14px;
}
.battery::before {
    content: " ";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    background: url("../img/pict_13.png") no-repeat center;
    background-size: 100%;
    vertical-align: middle;
}